/node_modules
/storage/*
/storage
/vendor
/.idea
/.vagrant
/config/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/*
/public/users/invoices/*
/public/drivers/profile/photos/*
composer.lock
/public/promotions/email_contents/*
!/public/promotions/email_contents/.empty
/NodeServer/node_modules
/NodeServer/package-lock.json
/public
.env
