/node_modules
/storage/*
/storage
/vendor
/.idea
/.vagrant
/config/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/*
/public/users/invoices/*
/public/drivers/profile/photos/*
composer.lock
